body {
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu-Regular.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@keyframes blurIn {
    0% {
        filter: blur(120px);
        opacity: 0%;
    }

    30% {
        filter: blur(50px);
        opacity: 96%;
    }

    100% {
        filter: blur(1px);
    }
}

#fin {
    font-family: Ubuntu;
    font-size: 9em;
    letter-spacing: 52px;
    text-indent: 52px;
    color: rgba(255, 0, 0, 0.76);
    text-align: center;
    transition: all 6s ease-in;
    opacity: 0%;
    user-select: none;
}

#svg-heart {
    display: none;
}

#canvas-heart {
    display: block;
    max-width: 90vw;
    height: 60vh;
    object-fit: contain;
}

#canvas-lovely {
    margin-top: 1vh;
    height: 80vh;
    max-width: 90vw;
    object-fit: contain;
}

#page-sexy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.svg-text-container {
    display: none;
    height: 100%;
    margin: 0 4% 0 4%;
}

.svg-text {
    user-select: none;
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@-webkit-keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: #ff000044;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #ff000044;
    }
}

@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: #ff000044;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #ff000044;
    }
}